/Assignment2/nbproject/private/
/Assignment2/build/
/Assignment3/nbproject/private/
/Assignment3/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/Assignment4_Question1/nbproject/private/
/Assignment4_Question1/build/
/Assignment4_Question2/nbproject/private/
/Assignment4_Question2/build/
/Assignment4_Question2/dist/
/Assignment3_Database/nbproject/private/
/Assignment3_Database/build/
/Assignment3_Database/dist/
